.question-section-wrapper {
  padding: 20px 100px;
}

@media (max-width: 768px) {
  .question-section-wrapper {
    padding: 20px 30px;
  }
}

.question-number {
  font-size: 25px;
  font-weight: 700;
}

.question-category {
  font-size: 15px;
  color: gray;
  margin-top: 10px;
}

.question-difficulty {
  font-size: 15px;
  color: gray;
  margin-top: 5px;
}

.question-text {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}
